/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/night.jpg');
    background-size: cover;
    overflow-x: hidden;
    font-family:  montserrat,sans-serif;;
    color:rgba($color: #ffffff, $alpha: 0.85)
}

h2{
    font-weight: bold;
    font-size: 2rem;
}
.material-icons{
    display: inline-flex;
    vertical-align: bottom;
    margin-left:5px;
}